<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'litapp/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'litapp/css/style.css' %}" />

    </head>
    <body>
        <div class="main">
            <header class="page_title">
                {% block title %}{% endblock %}
            </header>

                {% block content %}{% endblock %}
            <br><br>
            <footer class="fixed-bottom footer">
                 {% block footer %}{% endblock %}
                 <h6>Copyright &copy Létitia CARNICELLI pour LITReview</h6>
            </footer>
        </div>
    </body>
</html>