<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'litapp/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'litapp/css/style.css' %}" />

    </head>
    <body>
        <div class="main">
            <header class="page_title">
                {% if user.is_active == True %}
                <div class="container">
                    <div class="row">
                        <div class="col-6 right">
                            <h3>{{ title_page }}</h3>
                            <p class="fst-italic small">Vous êtes connecté en temps que <a href="{% url 'profile' %}">
                                {{ user.get_username }}</a></p>
                        </div>
                        <div class="col-6 left navbar">
                            <a href="{% url 'home' %}">Flux</a>
                            <a href="{% url 'posts' %}">Posts</a>
                            <a href="{% url 'follow' %}">Abonnements</a>
                            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
                        </div>

                    </div>
                </div>
                {% else %}
                <h3>{{ title_page }}</h3>
                {% endif %}

            </header>

                {% block content %}{% endblock %}
            <br><br>
            <footer class="fixed-bottom footer">
                 {% block footer %}{% endblock %}
                 <h6>Copyright &copy Létitia CARNICELLI pour LITReview</h6>
            </footer>
        </div>
    </body>
</html>