{% extends 'litapp/base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="row ">
        <div class="col-4 col-center">
            <a href="{% url 'ticket_create' %}">
                <button class="btn btn-secondary" type="button" >Demander une critique</button>
            </a>
        </div>
        <div class="col-4 col-center">
            <a href="{% url 'review_create' %}">
                <button class="btn btn-secondary" type="button" >Créer une critique</button>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <br><br>
    {% for post in posts %}
        {% if post.content_type == 'REVIEW' %}
            <div class="container card-body border border-dark bg-light">
            {% include 'litapp/review_view.html' %}
            </div>
            <br>
        {% elif post.content_type == 'TICKET' and post.review_of.all.count == 0 %}
            <div class="container card-body border border-dark bg-light">

                {% include 'litapp/ticket_view.html' %}
                <div class="row justify-content-end bg-light">
                    <div class="col-3">
                    <a href="{% url 'review_response' ticket_id=post.id %}">
                        <button class="btn btn-secondary" type="button" >Créer une critique</button>
                    </a>
                    </div>
                </div>
            </div>
            <br>

        {% endif %}
    {% endfor %}
</div>
{% endblock %}