{% extends 'litapp/base.html' %}
{% block title %}
<div class="container">
    <div class="row">

        <div class="col-6 right">
            <h3>Tableau de bord</h3>
            <p class="fst-italic">Bienvenue {{ user.get_username }}</p>
        </div>
        <div class="col-6 left navbar">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="#">Abonnements</a>
            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
        </div>

    </div>
</div>

{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row ">
        <div class="col-4 col-center">
            <a href="{% url 'ticket_create' %}">
                <button class="btn btn-secondary" type="button" >Demander une critique</button>
            </a>
        </div>
        <div class="col-4 col-center">
            <a href="{% url 'review_create' %}">
                <button class="btn btn-secondary" type="button" >Créer une critique</button>
            </a>
        </div>
    </div>
</div>
<div class="container">

    <br><br>
    {% for ticket in tickets %}
        {% if ticket.review_of.all %}
            {% include 'litapp/review_view.html' %}
            <br>
        {% else %}
            {% include 'litapp/ticket_view.html' %}
            <br>
        {% endif %}

    {% endfor %}
</div>
{%endblock %}