{% extends 'litapp/base.html' %}

{% block title %}
    <h3 class="page_title">{{ message }}</h3>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-around">
        <div class="col-4 col-center">
            <h4>Inscrivez-vous maintenant</h4>
            <br>
            <a href="new_account.html">
                <button class="btn btn-secondary" id="inscription" type="submit" >S'inscrire</button>
            </a>
        </div>

        <div class="col-4 col-center">
            <h4>Connectez-vous</h4>
            <br>
            <form method="POST">
                {% csrf_token %}
                <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Nom d'utilisateur">
                <br>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Mot de passe">
                <br>
                {{ login_echec }}
                <br>
                <button class="btn btn-secondary" id="connexion" type="submit" >Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}