{% extends 'litapp/base.html' %}
{% block title %}
<div class="container">
    <div class="row">

        <div class="col-6 right">
            <h3 >{{ message }}</h3>
        </div>
        <div class="col-6 left navbar">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="#">Abonnements</a>
            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br>
{% for post in posts %}
    {% if post.user == user or post.ticket.user == user %}
        {% if post.content_type == 'REVIEW' %}
            {% include 'litapp/review_view.html' %}
            <br>
        {% elif post.content_type == 'TICKET' %}
            {% include 'litapp/ticket_view.html' %}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}

{% endblock %}