{% extends 'litapp/base.html' %}
{% block title %}
<div class="container">
    <div class="row">

        <div class="col-6 right">
            <h3 >{{ message }}</h3>
        </div>
        <div class="col-6 left navbar">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="#">Abonnements</a>
            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br>
{% if message_delete %}{{ message_delete }}{% endif %}
{% for post in posts %}
    {% if post.content_type == 'REVIEW' and post.user == user %}
        <div class="container card-body border border-dark bg-light">
        {% include 'litapp/review_view.html' %}
            <div class="row ">
                <div class="col-4 col-center">
                    <a href="#">
                        <button class="btn btn-secondary" type="button" >Modifier Critique</button>
                    </a>
                </div>
                <div class="col-4 col-center">
                    <a href="#">
                        <button class="btn btn-secondary" type="button" >Supprimer Critique</button>
                    </a>
                </div>
            </div>
        </div>

        <br>
    {% elif post.content_type == 'TICKET' and post.user == user %}
        <div class="container card-body border border-dark bg-light">
        {% include 'litapp/ticket_view.html' %}
            <div class="row ">
                <div class="col-4 col-center">
                    <a href="{% url 'ticket_change' ticket_id=post.id %}">
                        <button class="btn btn-secondary" type="button" >Modifier Ticket</button>
                    </a>
                </div>
                <div class="col-4 col-center">
                    <a href="{% url 'ticket_delete' ticket_id=post.id %}" onclick="return confirm(
                    'Etes-vous sûr de supprimer ce ticket?');">
                        <button class="btn btn-secondary" type="button" >Supprimer Ticket</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endfor %}

{% load static %}
<script type="text/javascript" src="{% static 'litapp/js/confirmation.js' %}"></script>
{% endblock %}

