{% extends 'litapp/base.html' %}
{% block title %}
<div class="container">
    <div class="row">

        <div class="col-6 right">
            <h3 >{{ message }}</h3>
        </div>
        <div class="col-6 left navbar">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="#">Abonnements</a>
            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br>
{% for ticket in tickets %}
    {% for review in reviews %}
        {% if ticket.user == user or review.user == user %}
            {% if review.ticket == ticket %}
                {% include 'litapp/review_view.html' %}
                <br>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if ticket.user == user %}
        {% include 'litapp/ticket_view.html' %}
        <br>
    {% endif %}
{% endfor %}

{% endblock %}