{% extends 'litapp/base.html' %}
{% block title %}
<div class="container">
    <div class="row">

        <div class="col-6 right">
            <h3 >{{ message }}</h3>
        </div>
        <div class="col-6 left navbar">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="#">Abonnements</a>
            <a href="{% url 'logout' %}" type="submit">Se déconnecter</a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<form method="post" class="form container" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
                <div class="col" >
                    <br><br>
                    {% csrf_token %}
                    <label for="{{ ticket_form.title.id_for_label }}" class="form-control bg-secondary text-light">Title</label>
                    {{ ticket_form.title }}
                    <label for="{{ ticket_form.description.id_for_label }}" class="form-control bg-secondary text-light">Description</label>
                    {{ ticket_form.description }}
                    <label for="{{ ticket_form.image.id_for_label }}" class="form-control bg-secondary text-light">Image à télécharger</label>
                    <div class="parent-upload">
                        <button class="btn btn-secondary">Télécharger un fichier</button>
                        {{ ticket_form.image }}
                        <img id="image" width="100px" />
                    </div>
                    <br><br>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-center">
                <br>
                <a href="{% url 'home' %}"><button class="btn btn-secondary" type="button" >Tableau de bord</button></a>
            </div>
            <div class="col-6 col-center">
                <br>
                <button class="btn btn-secondary" value="Submit" type="submit" >Envoyer</button>
            </div>
        </div>
    </div>
</form>

{% load static %}
<script type="text/javascript" src="{% static 'litapp/js/image.js' %}"></script>
{% endblock %}