{% extends 'litapp/base.html' %}
{% block content %}

<form method="post" class="form container" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
                <div class="col" >
                    <br><br>
                    {% csrf_token %}
                    <label for="{{ ticket_form.title.id_for_label }}" class="form-control bg-secondary text-light">Titre</label>
                    {{ ticket_form.title }}
                    <label for="{{ ticket_form.description.id_for_label }}" class="form-control bg-secondary text-light">Description</label>
                    {{ ticket_form.description }}
                    <label for="{{ ticket_form.image.id_for_label }}" class="form-control bg-secondary text-light">Image à télécharger</label>
                    <div class="parent-upload">
                        <button class="btn btn-secondary">Télécharger un fichier</button>
                        {{ ticket_form.image }}
                        {% if ticket.image %}
                            <img src = "{{ ticket.image.url }}" id="image" width="100px" />
                        {% else %}
                            <img id="image" width="100px" />
                        {% endif %}

                    </div>
                    <br><br>
                </div>
        </div>
    </div>
    {% block review %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-6 col-center">
                <br>
                <a href="{% url 'home' %}"><button class="btn btn-secondary" type="button" >Tableau de bord</button></a>
            </div>
            <div class="col-6 col-center">
                <br>
                <button class="btn btn-secondary" value="Submit" type="submit" >Envoyer</button>
            </div>
        </div>
    </div>
</form>

{% load static %}
<script type="text/javascript" src="{% static 'litapp/js/image.js' %}"></script>
{% endblock %}