@charset "UTF-8"
@font-face {
    font-family: "ArimaKoshi";
    src: url("../fonts/Arima/ArimaKoshi-Medium.otf");
}
body, html {
    height: 100%;
}
body {
    background: url(../img/MAT_Bibliotheque_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    min-height: 100%;
    overflow-x: scroll;
    scroll-bar-width: thin;
    position: relative;
}

.for_choice {
    height: 420px;
    overflow-y: scroll;
    scroll-bar-width: thin;
}
.page_title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border: 2px solid #582900;
    background-color: #C8AD7F;

}

.col-center{
    text-align: center;
    float: none;
    margin: 0 auto;
}

.footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #582900;
    background-color: #C8AD7F;
}
.parent-upload{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.parent-upload input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.bg-opacity-light{
    opacity:50%;
}